<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @status.nombre %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @status.contenido %>
</p>

<%= link_to 'Editar', edit_status_path(@status) %> |
<%= link_to 'Volver', statuses_path %>
